body {
    font-family: 'Jaldi', sans-serif;
    color: #5e5e5e;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 1px;
}

.center {
    text-align: center;
}

.divider{
    border-bottom: 1px solid #CCC;
    margin: 30px 0;
    clear: both;
}

.pull-right {
    float: right;
}

name {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 12px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

name.white {
    color: white;
    text-shadow: -1px -1px 1px #dc9090;
}

myname {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 25px;
    font-weight: 700;
    display: block;
    margin-bottom: 12px;
}

contact {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin-left: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    grid-auto-rows: minmax(0px, auto);
    padding-top: 250px;
}
.one {
    grid-column:  1 / 5;
    grid-row: 1;
    padding: 10px 50px;
    font-weight: bold;
    text-decoration: overline;
    text-decoration-color:#dad4d4;
}
.two {
    grid-column: 1 / 5;
    grid-row: 2;
    background: #E0EEF8;
    padding: 50px;
}
.three {
    grid-column: 1 / 2;
    grid-row: 3;
    padding: 50px;
    text-decoration: overline;
    text-decoration-color:#dad4d4;
}

.four {
    grid-column: 2 / 3;
    grid-row: 3;
    padding: 50px;
    text-decoration: overline;
    text-decoration-color:#dad4d4;
}
.five {
    grid-column: 3/5;
    grid-row: 3;
    padding: 50px;
    text-decoration: overline;
    text-decoration-color: #dad4d4;
}
.six {
    grid-column: 2/3;
    grid-row: 3;
    padding: 50px;
}
.seven{
    grid-column: 2/4;
    grid-row: 7;
    padding: 100px;
}

ul {
    list-style-type: devanagari;
}

.intro {
    text-align: center;
    color: #0D79D1;
}
  
.circleyellow {
    background: #EDD043;
    height: 100vh;
    width: 35vw;
    border-radius: 50vw 100vw 40vw 30vw;
    top:20vh;
    left: -2vw;
    position: absolute;
  }
  
  .circleyellow:nth-child(1){
    left: 80vh;
    top: 30vh;
    background: #FF5722;
  }

  .circleyellow:nth-child(2){
    width: 55vw;
    left: 50vw;
    background: #CDDC39;
  }

  .circlewhite{
    height: 100vh;
    width: 50vw;
    left: 10vw;
    border-radius: 500vw 500vw 40vw 10vw;
    top: 15vh;
    background: black;
    position: absolute;
  }
  .circlewhite:first-child {
    left: 5vw;
    top: 3vh;
    height: 80vh;
    background: #00BCD4;
  }

  .circlewhite:nth-child(5) {
    left: 80vw;
    background: #FF5722;
  }

  .footer {
    position: absolute;
    height: 300px;
    overflow: hidden;
    width: 100vw;
    opacity: 0.75;
  }

  .rotate {
      transform: rotateX(180deg);
      top: -10px;
  }